Synthetic_data/eval_results/
Synthetic_data/eval_graphs/
Synthetic_data/__pycache__/
Synthetic_data/analysis_results/
.vscode/
Robot_simulation/__pycache__/
Robot_simulation/heuristic_dataset/
Robot_simulation/videos/
Robot_simulation/train_sac_door.py
Robot_simulation/eval_results/
output_0.log
output_0_1.log
output_1.log
output.log
prompts.txt
MUJOCO_LOG.TXT
vision_encoder/
Miniconda3-latest-Linux-x86_64.sh